@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  overflow: scroll;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
body {
  overflow-x: hidden; /* Hides the horizontal scrollbar */
}
/* .....................Main.............................. */
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box-shadow {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.navbar,
.banner {
  background: #edf8fa !important;
}
.navbar-list {
  margin-left: 120px;
}
.get-start {
  background: #0e786e !important;
  /*   height: 20px; */
  border: none;
}

.banner {
  /* height: 100vh; */
  position: relative;
}

.info {
  background: #d6eaf8;
  border-radius: 10px;
}

header {
  flex: 0 0 100%;
  max-width: 100%;
  /* background-color: #0e786e; */
}

.heading1 {
  font-weight: 700;
  font-size: 30px;
  /* margin: 10px; */
}

.section-4 {
  /* margin: 100px 0; */
}
.section-4-nav {
  margin: 20px 0 20px 0;
}

.section-4-grid {
  margin: 50px 0 100px 0;
}

/* .nav-underline .nav-link {
  border-bottom: 2px solid red;
} */

/* .nav-underline .nav-link.active {
  border-bottom: 2px solid red;
} */

/* .nav-underline; */

.nav-item a {
  color: black;
  font-weight: 500;
  letter-spacing: 1px;
}

.nav-item .nav-active {
  color: #0e786e;
}
.nav-underline .nav-item .nav-link.active {
  color: #0e786e;
}

.nav-underline .nav-link:hover {
  color: #0e786e;
}

.image-with-shadow {
  box-shadow: inset 0px -10px 10px rgba(0, 0, 0, 0.3);
}

.grids {
  -webkit-box-shadow: 1px 16px 33px -5px rgba(163, 157, 163, 1);
  -moz-box-shadow: 1px 16px 33px -5px rgba(163, 157, 163, 1);
  box-shadow: 0px -2px 18px -5px rgba(163, 157, 163, 1);
  border-radius: 15px;
  position: relative;
}

.divider {
  border-bottom: 0.5px solid rgb(224, 224, 224);
  margin: 15px 50px;
  /* padding: 5px 20px; */
}
.grid-text {
  margin-top: 20px;
}

.grid-text span {
  color: #0e786e;
  font-weight: 500;
}

.upper-rounded {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.grid-text h4 {
  /* line-height: px; */
  font-weight: 700;
}

.img-rating {
  position: absolute;
  top: 225px;
  left: 40px;
}
.rating-color {
  color: #fbc634 !important;
  margin: 9px 5px;
}

.course-prize {
  background: rgb(255, 132, 0);
  padding: 5px 10px;
  font-weight: 800;
  color: white;
  border-radius: 6px;
}

.grid-image {
  position: relative;
  /* display: inline-block; */
}

.bottom-shading {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px; /* Adjust the height of the shading as needed */
  background: linear-gradient(to bottom, rgba(140, 44, 44, 0), #0e786e);
}

.teachers {
  margin-top: 50px;
}
.section-5 {
  background: #edf8fa !important;
  padding: 100px 0;
}

.arrow1 i,
.arrow2 i {
  transform: scaleX(2);
  color: #0e786e;
  padding: 0px 20px;
}

.arrow1 {
  padding: 10px;
}

.arrow2 {
  border: 1px solid rgba(204, 231, 236, 255);
  padding: 10px;
  border-radius: 5px;
  background-color: #c6f7f2;
}

.icon-bg {
  background: #fff;
  margin-right: 5px;

  border-radius: 6px;
}
.so-icons {
  padding: 5px 10px;
  font-size: 20px;
  font-weight: 700;
  color: rgb(12, 12, 12);
  cursor: pointer;
}

.so-icons:hover {
  background: #0e786e;
  color: #fff;
}

.teacher-grid {
  position: absolute;
  top: 140px;
  left: 70px;
}

.blog-date p {
  color: grey;
  font-size: 15px;
}

.section-6 {
  margin: 100px 0;
}

.viewAll {
  background: #0e786e;
  color: white;
  justify-content: center;
  /* padding: 5px; */
  margin: 10px 5px 5px 5px;
  width: 170px;
}

.viewAll:hover {
  background: #0e786e;
  color: white;
}

.section-7 {
  /* position: relative; */
  margin: 200px 0 0 0;
}
.contact {
  background: #0e786e;
  border-radius: 20px;
  margin: 50px 0;
  position: relative;
}

.contact-text {
  flex: 0 0 70%;
  width: 70%;
  margin: 30px;
}

.contact-img {
  position: absolute;
  top: -175px;
  left: 950px;
}

.contact-text {
  padding: 40px 25px;
}

.contact-text h2 {
  color: #fff;
  font-weight: 600;
  margin-bottom: 50px;
}

.contact-text p {
  color: #fff;
  /* font-weight: 600; */
}

.contact-search {
  margin-top: 50px;
  width: 400px;
}

.search-input {
  border-radius: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  height: 50px;
}
.contact-btn {
  background: #ff6a30;
  color: #fff;
  border-radius: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 175px;
}

.contact-btn:hover {
}
