@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  /* overflow: scroll; */
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

/* .....................Main.............................. */
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box-shadow {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.navbar2 {
  /* display: none; */
}
.navbar,
.banner {
  background: #edf8fa !important;
}
.navbar-list {
  margin-left: 120px;
}
.get-start {
  background: #0e786e !important;
  height: 45px;
  border: none;
}

.navbar-list .nav-item .nav-link {
  transition: background 0.1s, border-radius 0.1s;
}
.navbar-list .nav-item .nav-link:hover {
  background: #0e786e;
  color: #fff;
  border-radius: 7px;
}

.search-btn1 {
  background: #0e786e !important;
  width: 170px;
}

.search-input1 {
  outline-color: #0e786e;
  outline: 2px solid #0e786e;
}
.info {
  background: #d6eaf8;
  border-radius: 10px;
}

header {
  flex: 0 0 100%;
  max-width: 100%;
}

.heading1 {
  font-weight: 700;
  font-size: 30px;
}

/* .........section1........... */
.banner {
  padding: 20px;
}

.bannner-section1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-search {
  display: flex;
}

/* .............section3........... */

.section3 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* .......section4......... */

.course-grid {
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.section-4-nav {
  margin: 20px 0 20px 0;
}

.section-4-grid {
  margin: 50px 0 100px 0;
}

.nav-item a {
  color: black;
  font-weight: 500;
  letter-spacing: 1px;
}

.nav-item .nav-active {
  color: #0e786e;
}
.nav-underline .nav-item .nav-link.active {
  color: #0e786e;
}

.nav-underline .nav-link:hover {
  color: #0e786e;
}

.image-with-shadow {
  box-shadow: inset 0px -10px 10px rgba(0, 0, 0, 0.3);
}

.grids {
  -webkit-box-shadow: 1px 16px 33px -5px rgba(163, 157, 163, 1);
  -moz-box-shadow: 1px 16px 33px -5px rgba(163, 157, 163, 1);
  box-shadow: 0px -2px 18px -5px rgba(163, 157, 163, 1);
  border-radius: 15px;
  position: relative;
}

.divider {
  border-bottom: 0.5px solid rgb(224, 224, 224);
  margin: 15px 50px;
  /* padding: 5px 20px; */
}
.grid-text {
  margin-top: 20px;
}

.grid-text span {
  color: #0e786e;
  font-weight: 500;
}

.upper-rounded {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.grid-text h4 {
  /* line-height: px; */
  font-weight: 700;
}

.img-rating {
  position: absolute;
  top: 200px;
  left: 40px;
}
.rating-color {
  color: #fbc634 !important;
  margin: 9px 5px;
}

.course-prize {
  background: rgb(255, 132, 0);
  padding: 5px 10px;
  font-weight: 800;
  color: white;
  border-radius: 6px;
}

.grid-image {
  position: relative;
  /* display: inline-block; */
}

.bottom-shading {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px; /* Adjust the height of the shading as needed */
  background: linear-gradient(to bottom, rgba(140, 44, 44, 0), #0e786e);
}

/* section 5 */

.inst-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

.teachers {
  margin-top: 50px;
}
.section-5 {
  background: #edf8fa !important;
  padding: 100px 0;
}

.arrow {
  display: flex;
}

.arrow1 i,
.arrow2 i {
  transform: scaleX(2);
  color: #0e786e;
  padding: 0px 20px;
}

.arrow1 {
  padding: 10px;
}

.arrow2 {
  border: 1px solid rgba(204, 231, 236, 255);
  padding: 10px;
  border-radius: 5px;
  background-color: #c6f7f2;
}

.icon-bg {
  background: #fff;
  margin-right: 5px;

  border-radius: 6px;
}
.so-icons {
  padding: 5px 10px;
  font-size: 20px;
  font-weight: 700;
  color: rgb(12, 12, 12);
  cursor: pointer;
}

.so-icons:hover {
  background: #0e786e;
  color: #fff;
}

.teacher-grid {
  position: absolute;
  top: 140px;
  left: 70px;
}

.blog-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.blog-date p {
  color: grey;
  font-size: 15px;
}

.section-6 {
  margin: 100px 0 350px 0;
}

.viewAll {
  background: #0e786e;
  color: white;
  justify-content: center;
  /* padding: 5px; */
  margin: 10px 5px 5px 5px;
  width: 170px;
}

.viewAll:hover {
  background: #0e786e;
  color: white;
}

/* ...........section7........... */

.section-7 {
  /* position: relative; */
  /* padding: 0px 0 0 0; */
  background: #edf8fa !important;
  /* height: 120vh; */
}
.contact {
  position: absolute;
  top: -180px;
  background: #0e786e;
  border-radius: 20px;
  /* margin: 50px 0; */
  display: flex;
  position: relative;
}

.contact-text {
  flex: 0 0 70%;
  width: 70%;
  margin: 30px;
}

.contact-img {
  position: absolute;
  top: -155px;
  left: 950px;
}

.contact-text {
  padding: 40px 25px;
}

.contact-text h2 {
  color: #fff;
  font-weight: 600;
  margin-bottom: 50px;
}

.contact-text p {
  color: #fff;
  /* font-weight: 600; */
}

.contact-search {
  display: flex;
  margin-top: 50px;
  width: 400px;
}

.search-input {
  border-radius: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  height: 50px;
}
.contact-btn {
  background: #ff6a30;
  color: #fff;
  border-radius: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 175px;
}

.contact-btn:hover {
  background: #ff6a30;
  color: #fff;
}

.footer {
  position: absolute;
  top: 220px;
  flex: 0 0 100%;
  width: 100%;
}

.fotter-inner {
  background: #edf8fa !important;
}
.footer-nav {
  display: flex;
  justify-content: space-evenly;
}

.footer-item,
.footer-menu {
  padding: 8px;
  text-align: left;
}

.footer-menu {
  color: grey;
}

.footer-active {
  color: rgb(59, 59, 59);
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 30px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .bannner-section1 {
    display: block;
  }
  .banner-search {
    display: block;
    width: 320px;
  }
  .banner-search .search-btn1 {
    margin-bottom: 20px;
    width: 330px;
    margin-top: 20px;
  }
  .banner-image {
    display: none;
  }

  .section3 {
    display: grid;
    gap: 30px;
  }
  .course-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .img-rating {
    top: 180px;
  }
  .inst-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .arrow {
    display: inline;
  }
  .viewAll {
    width: auto;
  }
  .blog-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact-img {
    display: none;
  }
  .contact-search {
    display: flex;
    width: 246px;
  }
  .contact-btn {
    width: auto;
  }
  .footer {
    top: 373px;
  }
  .footer-nav {
    display: contents;
  }

  .footer-item,
  .footer-menu {
    /* padding: 8px; */
    text-align: center;
  }
}

@media (min-width: 481px) and (max-width: 790px) {
  .section3 {
    display: grid;
    gap: 30px;
  }
  .img-rating {
    top: 111px;
  }
  .course-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .inst-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .viewAll {
    width: auto;
  }
  .blog-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-active {
    /* margin-bottom: 30px; */
    font-size: 14px;
  }
  .footer {
    top: 305px;
  }
}

@media (max-width: 990px) {
  .navbar2 {
    display: inline;
  }
  .navbar-list {
    margin-left: 0;
    margin-top: 20px;
  }

  .navbar-list .nav-item .nav-link:hover {
    /* text-align: center; */
    background-color: transparent;
    color: black;
    border-bottom: 2px solid #0e786e !important;
    width: 100px;
  }
}

@media (min-width: 791px) and (max-width: 1200px) {
  .get-start {
    height: 60px;
  }
  .section3 {
    gap: 1rem;
    padding: 15px;
  }
  .img-rating {
    top: 100px;
  }
  .course-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .inst-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .viewAll {
    width: auto;
  }
  .blog-grid {
    /* grid-template-columns: repeat(1, 1fr); */
  }
  .footer-active {
    /* margin-bottom: 30px; */
    font-size: 14px;
  }
  .teacher-grid {
    top: 100px;
    left: 28px;
  }
  .footer {
    top: 305px;
  }
}
